POSTGRES_USER=root
POSTGRES_PASSWORD=root
DB_HOST=localhost
DB_PORT=5432
DATABASES=flux_db

PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=admin

SECRET=change-me
IMAGE_BASE_ENDPOINT=http://127.0.0.1:8000

YANDEX_CLIENT_ID=
YANDEX_CLIENT_SECRET=
YANDEX_REDIRECT_URI=http://127.0.0.1:8000/api/v1/auth/yandex/callback
YANDEX_REDIRECT_WEB=http://127.0.0.1:50981
YANDEX_REDIRECT_MOBILE=flux://login/profile
